rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /venues/{venue} {
    	allow read;
      allow write: if is_admin();

      match /locations/{location} {
        allow read;
        allow write: if is_admin();

        match /fingerprints/{fingerprint} {
          allow read;
          allow write: if is_admin();
        }
      }
    }

    function is_admin() {
      return request.auth.token.admin == true;
    }
	}
}
