rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /venues/{document=**} {
      allow read;
      allow write: if is_admin();
    }

    function is_admin() {
      return exists(/databases/$(database)/documents/administrators/$(request.auth.token.email));
    }
	}
}
