rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /images/{venue}/{location}/{image} {
      allow get;
      allow write: if is_admin();
    }

    function is_admin() {
      return request.auth.token.admin == true;
    }
  }
}
